// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.tasto_show {
    border: 1px solid black;
    padding: 0.5rem;
    background-color: green;
    width: inherit;
    margin: 0.5rem auto;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: gold;
}
